#perfilLateral {
    display: none;
}

@media only screen and (min-width: 1024px) {
    #perfilLateral {
        display: flex;
        width: 55%;
        height: 15vh;
        margin-left: -5%;
        border-radius: 50%;
        margin-top: 14%;
    }

    .fundo {
        background-color: #000;
        border-radius: 50%; /* Define a borda como circular */
        width: 90%;
    }

    #perfilLateral p {
        position: absolute;
        margin-left: 12%;
        line-height: 95%;
        margin-top: 10%;
        color: #fff;
        font-size: 4vw;
        font-family: 'Times New Roman', Times, serif;
    }

    #perfilLateral img {
        position: absolute;
        top: 12%;
        width: 50%;
        height: 15%;
        border-radius: 50%;
    }
}