.menHamburger {
    height: 50%;
    width: 5%;
    margin: 1%;
}

.burger-menu {
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}

.burger-bar {
    width: 2em;
    height: 0.2em;
    background-color: #fff;
}

.menu {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #3293CA 0%, #000000 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu ul {
    margin-left: -15%;
    display: flex;
    flex-direction: column;
}

.menu li {
    width: 100%;
    list-style: none;
}

.menu li:hover {
    background-color: rgba(80, 80, 80, 0.5);

}

.menu li p {
    margin-left: 7%;
    height: 25%;
    text-align: left;
    font-size: 5px;
}

/* ------------- sliding menu ------------------ */
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.5em, 1em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.fechaMenu p{    
    position: absolute;
    top: -17%;
    left: 80%;
    rotate: 45deg;
    color: #fff;
    font-size: 15vh;
    cursor: pointer;
}

.menHamburger p a {  
    text-decoration: none;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

/*fundo*/
#perfilHamburger {
    position: relative;
	color: #fff;
	width: 40vw;
  	height: 30vh;
  	border-radius: 50%;
    margin-top: -55%;
    margin-bottom: 10%;
	margin-left: 30%;
}

.fundo {
    background-color: #000;
    border-radius: 50%;
    height: 95%;
}

#perfilHamburger img {
    margin-top: 95%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

#perfilHamburger p {
    color: #fff;    
    margin-top: 89%;
    font-size: 20vw;
    line-height: 200px;
    font-family: 'Times New Roman', Times, serif;
}

@media only screen and (min-width: 1024px) {
    .menHamburger {
        display: none;
    }
}