@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap'); 

.fAgendar{
	position: fixed;
    width: 100%;
    height: 100%;
    font-family: 'Euphoria Script', cursive;
    margin: 0;
    
}
header{
	display: flex;
	justify-content: space-between;
	padding: 0 3rem;
	border-bottom: white 2px solid;
	align-items: center;
	height: 4rem;
    background: #3293CA;
}
main{
    background: linear-gradient(180deg, #3293CA 0%, #000000 100%);
    position: fixed;
    right: 0;
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.btn_noticia{
    padding-left: 1rem;
}

.Centro{
	background-color: aliceblue;
	width: 300px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	color: #000000;

}

.esquerda img{ 
	height: 2.5rem;
}

.direita {
	width: 110px;
	display: flex;
	justify-content: space-between;
}

.direita  img{
    height: 3rem;
}

.sidebar{
    z-index: 1;
    position: fixed;
    width: 15%;
    height: 100%;
    padding-top: 30px;
    left: 0;
    background: #252525;
    border-right: white 3px solid;
}
.sidebar a{
    color: white;
    display: block;
    width: 100%;
    line-height: 2.5rem;
    text-decoration: none;
    padding-left: 0;
    box-sizing: border-box;
    font-size: 1.5rem;
}

.interprise{
    background: #9B9191;
    color:  white;
    text-align: center;
    position: fixed;
    bottom:0;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#check:checked ~ .sidebar {
    display: none;
}

#check:checked ~ main {
    width: 100%;
}

.container{
    display: flex;
    align-items: center;
}
.container h1{
    background-color: #000000;
    border-radius: 15px;
    padding: 0 1rem;
    font-size: 3rem;
    color: #6375D6;
    margin-top: 10%;

}

.categories{
    width: 360px;
    display: flex;
    align-items: end;
}
.category{
    width: 2rem;
    height: 2rem;
    margin-right: 0.3rem;
}

.dados{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
.texto{
    height: 2rem;
    border-radius: 15px;
    border-style: none;
    margin-bottom: 0.5rem;
    width: 360px;
}
.dois_campos{
    display: flex;
    justify-content: space-between;
}
.dois_campos .texto{
    width: 175px;
}
.finsh{
    margin-top: 1rem;
}
.finsh .texto{
    width: 150px;
}
.finsh a{
    background-color: #6375D6;
    padding: 0.5rem  1rem;
    border-radius: 15px;
    margin-left: 20px;
}
.client{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.texto-demonstrativo{
    background-color: aquamarine;
}

#check{
    display: none;
}