@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.fFotoCliente {
    position: fixed;
	width: 100%;
	height: 100%;
	/*background-image: url("../../img/fundo.png");*/
    background: linear-gradient(180deg, #3293CA 0%, #000000 100%);
    color: #000;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#menuHorCli {
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: #3293CA;
    border-bottom: 3px solid #fff;
    top: 0%;
    left: 0%;
}

#conteudoCli {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #3293CA 0%, #000000 100%);
    top: 10.4%;
    left: 0%;
}

#voltar {
    display: none;
}

#menuHorCli nav {
    display: none;
}

.logoMenuCli {
    position: absolute;
    width: 20%;
    height: 7vh;
    top: 8%;
    left: 43%;
    font-family: 'Merienda', cursive;
    font-weight: bold;
    background-color: #fff;
    border-radius: 25px;
    display: table; 
}

.logoMenuCli p {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    margin-top: -15%;
    font-size: 8vw;
    color: #000;
}

.logoMenuCli p::before {
    margin-top: -1%;
    content: 'S&S';
    font-weight: bold;
}

.notificacao .btnNot button {
	width: 10vw; /* Largura responsiva */
	height: 7vh;
	border-style: none;
	background-color: #000;
	border-radius: 100%;
    position: absolute;
	margin-left: 25%;
    margin-top: -6%;
    display: none;
}

.notificacao .btnNot button:hover {
	background-color: #0000ff;
}

.notificacao img {
	width: 90%;
	height: 90%;
}

.notificationContainer {
	position: absolute;
	margin-left: 30%;
    margin-top: 3%;
	z-index: 3;
	width: 50%;
	height: 40vh;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: white;
	border: 1px solid black;
	overflow-y: auto;
    color: #000;
}

.notificationList {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.notification-item {
	padding: 5px;
	border-bottom: 1px solid black;
	margin-left: 0;
}

.notification-title {
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 5px;
}

.notificationDescription {
	margin-left: 5%;
	word-break: break-word;
	text-align: justify;
}

.first-notification {
	margin-top: 0;
}

.closeButton {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: red;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
}

.perfil {
    position: absolute;
    left: 90%;
    top: 20%;
    background-color: #000;
    border-radius: 50%;
    width: 8%;
    height: 65%;
}

#perfilHamburgerFoto {
    width: 30vw;
    height: 20vh;
    margin-top: 5%;
    margin-left: 25%;
    background-color: #000;
    border-radius: 50%;
    margin-left: 30%;
}

#perfilHamburgerFoto img{
    width: 90%;
    height: 90%;
}

.perfil img {
    margin: 10%;
    width: 75%;
    height: 75%;
}

.perfil p {
	font-size: 6vw;
	line-height: 70%;
    margin-top: 25%;
    color: #fff;
}

h2 {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

#formFoto {
    width: 90%;
    margin: 5%;
}

#formFoto input {
    width: 80%;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 60%;
    background-color: #d9d9d9;
    border-style: none;
    text-indent: 10px;
    border-radius: 25px;
    position: relative;
    height: 40px;
    margin-top: 10%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

#formFoto img{
    width: 90%;
    height: 60%;
}

#formFoto input:focus {
    background-color: #fff;
}

#formFoto #btnSalvarFoto {
    margin-left: 77%;
    width: 25%;
    font-size: 90%;
    background-color: #6375D6;
    text-align: center;
}

#formFoto #btnSalvarFoto:hover {
    background-color: #0a1868;
    color: #fff;
}

#menuDesk {
    display: none;
}

#perfilLateral {
    display: none;
}

#perfilHamburger {
    background-color: #000;
    border-radius: 50%;
    width: 25%;
    height: 25%;
    margin-top: -10%;
    margin-left: 27%;
}

#perfilHamburger img{
    margin: 10%;
    width: 80%;
    height: 75%;
}

.linha { 
    width: 100%;
    display: table;
    margin-left: 1%;
}	

.linha div {
    display: table-cell;
}

.desImgDef 
{
   display:none;
}

.legFoto {
    margin-top: -2%;
    margin-left: 13%;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    color: #fff;
}



@media only screen and (min-width: 1024px) {
    .fFotoCliente {
        overflow-y: auto;
    }

    #menuLatCli {
        position: fixed;
        height: 100%;
        width: 15%;
        background: linear-gradient(180deg, #3293CA 0%, #000000 100%);
        left: 0%;
        top: 0%;
        border-right: 3px solid #fff;
    }

    #menuHorCli {
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 10%;
        background-color: #3293CA;
        border-bottom: 3px solid #fff;
    }

    #conteudoCli {
        position: fixed;
        width: 85%;
        height: 100%;
        background-color: blue;
        top: 10.5%;
        left: 15.2%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #voltar {
        display: flex;
        margin-top: 1%;
    }
    #voltar img{
        width: 80%;
        height: 80%;
    }

    .logoMenuCli {
        position: absolute;
        width: 20%;
        height: 70%;
        top: 10%;
        left: 43%;
        font-family: 'Merienda', cursive;
        font-weight: bold;
        background-color: #fff;
        border-radius: 25px;
        display:block;
    }
    .logoMenuCli p {
        margin-top: -32%;
        font-weight: bold;
        color: #000;
        display:block;
    }
    .logoMenuCli p::before {
        font-size: 1.6vw;
        content: 'Shostners & shostners';
    }

    .notificacao {
		width: 3.5%;
		height: 2%;
        position: absolute;
		margin-left: 90%;
        margin-top: 0.5%;
	}

    .notificacao .btnNot button {
        width: 4vw; /* Largura responsiva */
        height: 7vh;
        border-style: none;
        background-color: #000;
        border-radius: 100%;
        position: absolute;
        margin-left: -50%;
        margin-top: 2%
	}

	.notificationContainer {
		width: 200px;
		height: 300px;
		overflow-x: hidden;
		overflow-y: scroll;
		background-color: white;
		border: 1px solid black;
		overflow-y: auto;
		position: relative;
		margin-left: -300%;
        margin-top: 95%;
        color: #000;
	}

    .perfil {
        background-color: #000;
        color: #fff;
        width: 3vw;
        height: 3vw;
        border-radius: 50%;
        margin-left: 5%;
    }
    .perfil img {
        margin: 10%;
        width: 70%;
        height: 70%;
    }
    .perfil p {
        font-size: 2vw;
        margin-top: 20%;
        line-height: 75%;
    }

    #menuDesk {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    #ulDesk {
        list-style-type: none;
        width: 100%;
        margin-top: 5%;
    }

    #textoLL {
        margin-top: 15%;
    }
    
    #textoLL li {
        margin-top: -10%; 
    }

    #ulDesk li{
        width: 100.5%;
        position: relative;
        margin-left: -22%;
    }
    #ulDesk li:hover{
        color: #000;
    }
    #ulDesk p{
        text-align: left;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.5vw;
        margin-left: 2%;
        margin-bottom: -10px;
    }
    #ulDesk a {
        text-decoration: none;
        color: #fff;
    }
    
    #perfilLateral {
        display: flex;
        width: 50%;
        height: 55%;
        background-color: #000;
        margin-left: -5%;
        border-radius: 50%;
        margin-top: 12%;
    }
    #perfilLateral img{
        position: absolute;
        top: 12%;
        width: 50%;
        height: 15%;
    }
    #perfilLateral p {
        margin-left: 25%;
        line-height: 45%;
        margin-top: 35%;
        font-size: 3em;
        color: #fff;
    }
    
    #formFoto img {
        width: 80%;
        height: 60%;
    }
    #formFoto input {
        margin-top: 2%;
    }
}