@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.fEmpr {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #3293CA 0%, #000000 100%);
    color: #000;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}

#menuHorCli {
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: #3293CA;
    border-bottom: 3px solid #fff;
    top: 0%;
    left: 0%;
}

#conteudoCli {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #3293CA 0%, #000000 100%);
    top: 10.4%;
    left: 0%;
    overflow-y: auto;
}

#voltar {
    display: none;
}

#menuHorCli nav {
    display: none;
}

.logoMenuCli {
    position: absolute;
    width: 45%;
    height: 7vh;
    top: 8%;
    left: 30%;
    font-family: 'Merienda', cursive;
    font-weight: bold;
    background-color: #fff;
    border-radius: 25px;
    display: table;
}

.logoMenuCli p {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 3.5vw;
    color: #000;
}

/*.logoMenuCli p::before {
    margin-top: -1%;
    content: 'S&S';
    font-weight: bold;
}*/

.notificacao .btnNot button {
    width: 10vw;
    /* Largura responsiva */
    height: 7vh;
    border-style: none;
    background-color: #000;
    border-radius: 100%;
    position: absolute;
    margin-left: 25%;
    margin-top: -6%;
    display: none;
}

.notificacao .btnNot button:hover {
    background-color: #0000ff;
}

.notificacao img {
    width: 90%;
    height: 90%;
}

.notificationContainer {
    position: absolute;
    margin-left: 30%;
    margin-top: 3%;
    z-index: 3;
    width: 50%;
    height: 40vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: white;
    border: 1px solid black;
    overflow-y: auto;
    color: #000;
}

.notificationList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.notification-item {
    padding: 5px;
    border-bottom: 1px solid black;
    margin-left: 0;
}

.notification-title {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}

.notificationDescription {
    margin-left: 5%;
    word-break: break-word;
    text-align: justify;
}

.first-notification {
    margin-top: 0;
}

.closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.perfil {
    position: absolute;
    left: 90%;
    top: 20%;
    background-color: #000;
    border-radius: 50%;
    width: 8%;
    height: 65%;
}

#perfilHamburgerFoto {
    width: 30vw;
    height: 20vh;
    margin-top: 5%;
    margin-left: 25%;
    background-color: #000;
    border-radius: 50%;
    margin-left: 30%;
}

#perfilHamburgerFoto img {
    width: 90%;
    height: 90%;
}

.perfil img {
    margin: 10%;
    width: 75%;
    height: 75%;
}

.perfil p {
    font-size: 6vw;
    line-height: 70%;
    margin-top: 25%;
    color: #fff;
}

h2 {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

#formFoto {
    width: 90%;
    margin: 3%;
}

#formFoto input {
    width: 100%;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 60%;
    background-color: #d9d9d9;
    border-style: none;
    text-indent: 10px;
    border-radius: 25px;
    position: relative;
    height: 40px;
    margin-top: 10%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

#formFoto input {
    width: 90%;
    margin-top: 5%;
}

#formFoto img {
    width: 90%;
    height: 60%;
}

#formFoto input:focus {
    background-color: #fff;
}

#formFoto #btnSalvarFoto,
#btnExcluir {
    margin-left: 68%;
    width: 25%;
    font-size: 90%;
    background-color: #6375D6;
    text-align: center;
    border-style: none;
    border-radius: 50px;
}

#formFoto #btnSalvarFoto:hover,
#btnExcluir:hover {
    background-color: #0a1868;
    color: #fff;
}

#btnExcluir {
    position: absolute;
    margin-left: 3%;
    margin-top: 1%;
    width: 25%;
    height: 6%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#menuDesk {
    display: none;
}

#perfilLateral {
    display: none;
}

#perfilHamburger {
    background-color: #000;
    border-radius: 50%;
    width: 25%;
    height: 25%;
    margin-top: -10%;
    margin-left: 27%;
}

#perfilHamburger img {
    margin: 10%;
    width: 80%;
    height: 75%;
}

.linha {
    width: 100%;
    display: table;
    margin-left: 1%;
}

.linha div {
    display: table-cell;
}

.desImgDef {
    display: none;
}

.legFoto {
    margin-top: -5%;
    margin-left: 5%;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    color: #fff;
}

#ptHor {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

#horDeFunc {
    position: relative;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 35%;
    word-wrap: break-word;
    font-size: 3vw;
    text-align: left;
}

#horarios {
    position: relative;
    background-color: #4fbd61;
    border: 3px solid #000;
    border-radius: 50px;
    width: 70%;
    height: 50%;
    margin-top: -5%;
}

#horarios input[type="time"] {
    position: relative;
    margin-top: 7%;
    width: 7vw;
}

#horarios p {
    margin-left: 5%;
    margin-top: 5%;
    font-size: 75%;
}

#legTema {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    margin-left: -5%;
}

#temas {
    display: flex;
    flex-direction: row;
    margin-left: -5%;
    margin-top: -3%;
}

#temas img {
    margin-left: 5%;
    max-width: 65px;
    max-height: 65px;
}

.linha { 
    width: 100%;
    display: table;
    margin-left: -3%;
}	

.linha div {
    display: table-cell;
}

.linhaUnica {
    margin-left: -5%;
    width: 105%;
}

.segColuna {
    margin-left: 35%;
}

#legEndereco {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    text-align: left;
}

@media only screen and (min-width: 1024px) {
    .fFotoCliente {
        overflow-y: auto;
    }

    #menuLatCli {
        position: relative;
        height: 100%;
        width: 15%;
        background: linear-gradient(180deg, #3293CA 0%, #000000 100%);
        left: 0%;
        top: 0%;
        border-right: 3px solid #fff;
    }

    #menuHorCli {
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 10%;
        background-color: #3293CA;
        border-bottom: 3px solid #fff;
    }

    #conteudoCli {
        position: fixed;
        width: 85%;
        height: 100%;
        background-color: blue;
        top: 10.4%;
        left: 15.2%;
    }

    #voltar {
        display: flex;
        margin-top: 1%;
    }

    #voltar img {
        width: 80%;
        height: 80%;
    }

    .logoMenuCli {
        position: absolute;
        width: 20%;
        height: 70%;
        top: 10%;
        left: 43%;
        font-family: 'Merienda', cursive;
        font-weight: bold;
        background-color: #fff;
        border-radius: 25px;
        display: block;
    }

    .logoMenuCli p {
        margin-top: 2%;
        font-weight: bold;
        color: #000;
        font-size: 1.6vw;
        display: block;
    }

    /*.logoMenuCli p::before {
        font-size: 1.6vw;
        content: 'Shostners & shostners';
    }*/

    .notificacao {
        width: 3.5%;
        height: 2%;
        position: absolute;
        margin-left: 90%;
        margin-top: 0.5%;
    }

    .notificacao .btnNot button {
        width: 4vw;
        /* Largura responsiva */
        height: 7vh;
        border-style: none;
        background-color: #000;
        border-radius: 100%;
        position: absolute;
        margin-left: -50%;
        margin-top: 2%
    }

    .notificationContainer {
        width: 200px;
        height: 300px;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: white;
        border: 1px solid black;
        overflow-y: auto;
        position: relative;
        margin-left: -300%;
        margin-top: 95%;
        color: #000;
    }

    .perfil {
        background-color: #000;
        color: #fff;
        width: 3vw;
        height: 3vw;
        border-radius: 50%;
        margin-left: 5%;
    }

    .perfil img {
        margin: 10%;
        width: 70%;
        height: 70%;
    }

    .perfil p {
        font-size: 2vw;
        margin-top: 20%;
        line-height: 75%;
    }

    #menuDesk {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    #ulDesk {
        list-style-type: none;
        width: 100%;
        margin-top: 5%;
    }

    #textoLL {
        margin-top: 15%;
        margin-left: 1rem;
    }

    #textoLL li {
        margin-top: -10%;
    }

    #ulDesk li {
        width: 100.5%;
        position: relative;
        margin-left: -22%;
    }

    #ulDesk li:hover {
        color: #000;
    }

    #ulDesk li p {
        text-align: left;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.5vw;
        margin-left: -8%;
        margin-bottom: -10px;
    }

    #ulDesk a {
        text-decoration: none;
        color: #fff;
    }

    #perfilLateral {
        display: flex;
        width: 50%;
        height: 50%;
        background-color: #000;
        margin-left: -5%;
        border-radius: 50%;
        margin-top: 12%;
    }

    #perfilLateral img {
        position: absolute;
        top: 12%;
        width: 50%;
        height: 15%;
    }

    #perfilLateral p {
        margin-left: 25%;
        line-height: 45%;
        margin-top: 35%;
        font-size: 3em;
        color: #fff;
    }

    #formFoto img {
        width: 60%;
        height: 40%;
    }

    #formFoto input {
        margin-top: 2%;
    }

    #formFoto input {
        width: 60%;
        margin-top: 3%;
    }

    .legFoto {
        margin-top: -2%;
        margin-left: 20%;
        font-family: 'Times New Roman', Times, serif;
        text-align: left;
        color: #fff;
    }

    #btnExcluir {
        position: absolute;
        margin-left: -27%;
        margin-top: -2%;
        width: 20%;
        height: 6vh;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }

    #legTema {
        margin-left: -25%;
    }

    #horarios {
        position: relative;
        background-color: #4fbd61;
        border: 3px solid #000;
        border-radius: 50px;
        width: 40%;
        height: 50%;
        margin-top: -5%;
    }

    #horarios input[type="time"] {
        position: relative;
        margin-top: 7%;
        width: 7vw;
    }

    #temas {
        display: flex;
        flex-direction: row;
        margin-left: 15%;
        margin-top: -3%;
    }

    #formFoto .linha { 
        width: 100%;
        display: table;
        margin-left: 6%;
    }	
    
    .linha div {
        display: table-cell;
    }
    
    .linhaUnica {
        margin-left: -5%;
        width: 105%;
    }
    
    #formFoto .segColuna {
        margin-left: 15%;
    }

    #legEndereco {
        margin-left: 17%;
    }

    #conteudoCli #btnExcluir {
        margin-left: -30%;
    }
    #conteudoCli #btnSalvarFoto {
        margin-left: 67%;
    }
}