.perfil {
    background-color: #000;
    color: #fff;
    width: 12vw;
    height: 13vw;
    border-radius: 50%;
    margin-left: auto;
}

.perfil p {
    font-size: 6vw;
    line-height: 10%;
}

.perfil img {
    margin: 10%;
    width: 80%;
    height: 80%;
}

@media screen and (min-width: 1024px) {
    .perfil {
        width: 50px;
        height: 50px;
    }

    .perfil p {
        font-size: 2vw;
        line-height: 10%;
    }
}